<table>
{{#each patienthb}}
  <tr>
    <td>{{patient_id}}</td>
    <td>{{patient_first_name}}</td>
	<td>{{patient_last_name}}</td>
    <td>{{patient_birth}}</td>
	<td>{{patient_address}}</td>
	<td>{{patient_email}}</td>
	<td>{{patient_contact}}</td>
  </tr>
{{/each}}
</table>
