<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new Diagnosis:</h3>
<form id="addperson" action="/diagnosis" method="post">
    Medication ID: <select name="medication_id"> 
        {{#each medication2}}
        <option value="{{medication_id}}">{{medication_id}}</option>
        {{/each}}</select><br>
    Patient ID: <select name="patient_id"> 
        {{#each patient2}}
        <option value="{{patient_id}}">{{patient_id}}</option>
        {{/each}}</select><br>
    Pharmacy ID: <select name="pharmacy_id"> 
        {{#each pharmacy-insert}}
        <option value="{{pharmacy_id}}">{{pharmacy_id}}</option>
        {{/each}}</select><br>
    Doctor ID: <select name="doctor_id"> 
        {{#each doctor1}}
        <option value="{{doctor_id}}">{{doctor_id}}</option>
        {{/each}}</select><br>
    Description: <input type="text" name="description"><br>
    Charge: <input type="text" name="charge"><br>
    Date: <input type="date" name="diagnosis_date"><br>
    
    <input type="submit" value="Submit">
 </form>
<br/>

<form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by homeworld </label>
    <select id='homeworld_filter' name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
  <!---  <input type="button" value="Filter" onclick="filterPeopleByHomeworld()">-->
</form>

<form id='search_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form>

<h3>Current Diagnosis:</h3>
<table>
    <thead> 
        <th>Diagnosis ID</th> 
        <th>Medication ID</th> 
        <th>Patient ID</th>
        <th>Pharmacy ID</th>  
		<th>Doctor ID</th>  
		<th>Charge</th>  
		<th>Description</th>
		<th>Date</th>		
    </thead> 
    <tbody>
        {{#each diagnosis}} 
        <tr> 
            <td>{{diagnosis_id}}</td> 
            <td>{{medication_id}}</td> 
            <td>{{patient_id}}</td> 
            <td>{{pharmacy_id}}</td> 
			<td>{{doctor_id}}</td> 
			<td>{{charge}}</td> 
			<td>{{description}}</td> 
			<td>{{diagnosis_date}}</td> 
          <!---   <td><button onclick="deletePerson({{id}})">Delete</button></td> <-->
            <!---<td><a href="/pharmacy-insert2/{{id}}">Update</a></td>-->
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
		

</html>