<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new Diagnosis:</h3>
<form id="addperson" action="/diagnosis" method="post">
    Medication ID: <select name="medication_id"> 
        {{#each medication2}}
        <option value="{{medication_id}}">{{medication_id}}</option>
        {{/each}}</select><br>
    Patient ID: <select name="patient_id"> 
        {{#each patient2}}
        <option value="{{patient_id}}">{{patient_id}}</option>
        {{/each}}</select><br>
    Pharmacy ID: <select name="pharmacy_id"> 
        {{#each pharmacy-insert}}
        <option value="{{pharmacy_id}}">{{pharmacy_id}}</option>
        {{/each}}</select><br>
    Doctor ID: <select name="doctor_id"> 
        {{#each doctor1}}
        <option value="{{doctor_id}}">{{doctor_id}}</option>
        {{/each}}</select><br>
    Description: <input type="text" name="description"><br>
    Charge: <input type="text" name="charge"><br>
    Date: <input type="date" name="date"><br>
    
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current Diagnosis:</h3>
<table>
    <thead> 
        <th>Diagnosis ID</th> 
        <th>Doctor First Name</th> 
        <th>Doctor Last Name</th>
        <th>Doctor Contact</th>  
    </thead> 
    <tbody>
        {{#each diagnosis}} 
        <tr> 
            <td>{{doctor_id}}</td> 
            <td>{{doctor_first_name}}</td> 
            <td>{{doctor_last_name}}</td> 
            <td>{{doctor_contact}}</td> 
          <!---   <td><button onclick="deletePerson({{id}})">Delete</button></td> <-->
            <!---<td><a href="/pharmacy-insert2/{{id}}">Update</a></td>-->
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>