<html>
{{#each foo}}
{{this}}
{{/each}}
<div>
<h3> MediPhar </h3>
    <form id="add_people_certificates" action="/diagnosis2" method="post">
    Medication ID: <select name='medication_id'>
        {{#each medication2}}
          <option value='{{medication_id}}'>{{medication_id}}</option>
        {{/each}}
    </select>
    <br>
	    Pharmacy ID: <select name='pharmacy_id'>
        {{#each pharmacy2}}
          <option value='{{pharmacy_id}}'>{{pharmacy_id}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</div>
<br/>

<h3>Current Medication & Pharmacy:</h3>
<table>
    <thead> 
        <th>Medication ID</th> 
        <th>Pharmacy ID</th> 
    </thead> 
    <tbody>
        {{#each medication2}} 
        <tr> 
            <td>{{medication_id}}</td> 
        </tr> 
        {{/each}} 
        {{#each pharmacy2}} 
        <tr> 
            <td>{{pharmacy_id}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>