<html>
  {{#each foo}}
    {{this}}
  {{/each}}
  <h1>Doctor</h1>
  <h3>Add New Doctor (Please fill in all Input Fields):</h3>
  
  <!--- Error message for invalid insertion inputs -->
  <h4>{{insert_error}}</h4>
  
  <!--- Form to insert new Doctor entry -->
  <form
    id="addperson"
    action="/doctor"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >
    Doctor First Name:
    <input
      type="text"
      name="doctor_first_name"
      placeholder="Enter Doctor First Name"
    />
    <br />
    (Letters, Ampersand, Hyphens Only)
    <br />

    <br />
    Doctor Last Name:
    <input
      type="text"
      name="doctor_last_name"
      placeholder="Enter Doctor Last Name"
    /><br />
    (Letters, Ampersand, Hyphens Only)
    <br />
    <br />
    Doctor Contact:
    <input
      type="text"
      name="doctor_contact"
      placeholder="Enter Doctor Contact (Phone Number)"
    /><br />
    (Numbers and Hyphens Only)
    <br />
    <br />
    <input type="submit" value="Submit" />
  </form>
  <br />

  <form
    id="search_people"
    action=""
    method=""
    onkeydown="return event.key != 'Enter';"
  >
    <label> Search for Doctor by First Name:</label>
	
	<!--- Error message for invalid search inputs -->
    <h4>{{search_error}}</h4>
	
	<!--- Search Input Form -->
    <input
      id="search_string"
      type="text"
      name="search_string"
      value=""
      placeholder="Enter Doctor First Name"
    />
    <input type="button" value="Search" onclick="searchDoctor()" />
    <button type="button"><a class="blacklink" href="/doctor">Cancel Search</a></button>

  </form>


  <!--- Display Current Doctor Entity Table -->
  <h3>Current Doctor:</h3>
  <table>
    <thead>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Contact</th>
    </thead>
    <tbody>
      {{#each doctor}}
        <tr>
          <td>{{id}}</td>
          <td>{{doctor_first_name}}</td>
          <td>{{doctor_last_name}}</td>
          <td>{{doctor_contact}}</td>
		  
		  <!--- Delete and Update Buttons -->
          <td><button onclick="deletedoctor({{id}})">Delete</button></td>
          <td><button
              onclick="location.href='/doctor/{{id}}'"
            >Update</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</html>