<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new Doctor:</h3>
<form id="addperson" action="/doctor1" method="post">
    Doctor First Name: <input type="text" name="doctor_first_name"><br>
    Doctor Last Name: <input type="text" name="doctor_last_name"><br>
    Doctor Contact: <input type="text" name="doctor_contact"><br>
    
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current Doctor:</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>First Name</th> 
        <th>Last Name</th>
        <th>Contact</th>  
    </thead> 
    <tbody>
        {{#each doctor1}} 
        <tr> 
            <td>{{doctor_id}}</td> 
            <td>{{doctor_first_name}}</td> 
            <td>{{doctor_last_name}}</td> 
            <td>{{doctor_contact}}</td> 
          <!---   <td><button onclick="deletePerson({{id}})">Delete</button></td> <-->
            <!---<td><a href="/pharmacy-insert2/{{id}}">Update</a></td>-->
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>