<html>
  {{#each foo}}
    {{this}}
  {{/each}}
  <h1>MediPhar</h1>

  <!---Clarification on Correct MediPhar Insert Inputs -->
  <h3>Add new Medication & Pharmacy (Unique Combinations Only):</h3>
  Clarification: For new MediPhar entries, you cannot have both Medication ID
  and Pharmacy ID be the same as an existing combination on the "Current
  Mediphar" table below. One duplicate key is okay, two is not.

  <!---Error message for invalid insertion inputs -->
  <h4>{{insert_error}}</h4>

  <!---Form to insert new Doctor entry -->
  <form
    id="add_people_certificates"
    action="/mediphar"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >

    <!---Select Menu (dropdown) for Medication ID -->
    Medication ID:
    <select name="medication_id">
      <option disabled selected value> -- select an option -- </option>
      {{#each medication2}}
        <option value="{{medication_id}}">{{medication_id}}
          ({{medication_name}})</option>
      {{/each}}
    </select>
    <br />
    <br />

    <!---Select Menu (dropdown) for Pharmacy ID -->
    Pharmacy ID:
    <select name="pharmacy_id">
      <option disabled selected value> -- select an option -- </option>
      {{#each pharmacy2}}
        <option value="{{pharmacy_id}}">{{pharmacy_id}}
          ({{pharmacy_name}})</option>
      {{/each}}
    </select><br />
    <br />
    <input type="submit" value="Submit" />
  </form>
  <br />

  <!---Display Current MediPhar Entity Table -->
  <h3>Current MediPhar:</h3>
  <table>
    <thead>
      <th>Medication ID</th>
      <th>Medication Name</th>
      <th>Pharmacy ID</th>
      <th>Pharmacy Name</th>
    </thead>
    <tbody>
      {{#each mediphar}}
        <tr>
          <td>{{medication_id}}</td>
          <td>{{medication_name}}</td>
          <td>{{pharmacy_id}}</td>
          <td>{{pharmacy_name}}</td>

          <!---Delete Button -->
          <td><button
              onclick="deletemediphar({{medication_id}},{{pharmacy_id}})"
            >Delete</button></td>

        </tr>
      {{else}}
        <b>
          No people with any certifications found! Grant some using the form.
        </b>
      {{/each}}
    </tbody>
  </table>

</html>