<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new Medication & Pharmacy:</h3>
<form id="addperson" action="/mediphar" method="post">
    Medication ID: <select name="medication_id"> 
        {{#each medicationhb}}
        <option value="{{medication_id}}">{{medication_id}}</option>
        {{/each}}</select><br>
    Pharmacy ID: <select name="pharmacy_id"> 
        {{#each pharmacyhd}}
        <option value="{{pharmacy_id}}">{{pharmacy_id}}</option>
        {{/each}}</select><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current Medication & Pharmacy:</h3>
<table>
    <thead> 
        <th>Medication ID</th> 
        <th>Pharmacy iD</th> 
    </thead> 
    <tbody>
        {{#each mediphar}} 
        <tr> 
            <td>{{medication_id}}</td> 
            <td>{{pharmacy_id}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>