<html>
{{#each foo}}
{{this}}
{{/each}}
<link rel="stylesheet" href="./style.css" media="screen">
<h3>Add new Medication:</h3>
<form id="addperson" action="/medication" method="post">
    Medication Name: <input type="text" name="medication_name"><br>
   Manufacturer: <input type="text" name="manufacturer"><br>
    
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current Medication:</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>Medication Name</th> 
        <th>Manufacturer</th> 
    </thead> 
    <tbody>
        {{#each medication}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{medication_name}}</td> 
            <td>{{manufacturer}}</td> 
			<td><button onclick="deletemedication({{id}})">Delete</button></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>