<html>
  {{#each foo}}
    {{this}}
  {{/each}}
  <h1>Medication</h1>
  <h3>Add New Medication (Please fill in all Input Fields):</h3>

  <!---Error message for invalid insertion inputs -->
  <h4>{{insert_error}}</h4>

  <!---Form to insert new Medication entry -->
  <form
    id="addperson"
    action="/medication"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >
    Medication Name:
    <input
      type="text"
      name="medication_name"
      placeholder="Enter Medication Name"
    /><br />
    (Letters, Ampersand, Hyphens Only)
    <br />
    <br />
    Manufacturer:
    <input
      type="text"
      name="manufacturer"
      placeholder="Enter Manufacturer Name"
    /><br />
    (Letters, Ampersand, Hyphens Only)
    <br />
    <br />
    <input type="submit" value="Submit" />
  </form>
  <br />

  <form
    id="search_people"
    action=""
    method=""
    onkeydown="return event.key != 'Enter';"
  >
    <label> Search for Medication by Medication Name:</label>

    <!---Error message for invalid search inputs -->
    <h4>{{search_error}}</h4>

    <!---Search Input Form -->
    <input
      id="search_string"
      type="text"
      name="search_string"
      value=""
      placeholder="Enter Medication Name"
    />
    <input type="button" value="Search" onclick="searchMedication()" />
    <button type="button"><a class="blacklink" href="/medication">Cancel Search</a></button>

  </form>

  <!---Display Current Medication Entity Table -->
  <h3>Current Medication:</h3>
  <table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Manufacturer</th>
    </thead>
    <tbody>
      {{#each medication}}
        <tr>
          <td>{{id}}</td>
          <td>{{medication_name}}</td>
          <td>{{manufacturer}}</td>

          <!---Delete and Update Buttons -->
          <td><button onclick="deletemedication({{id}})">Delete</button></td>
          <td><button
              onclick="location.href='/medication/{{id}}'"
            >Update</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</html>