<html>
  {{#each foo}}
    {{this}}
  {{/each}}

  <h1>Patient</h1>
  <h3>Add New Patient (Please fill in all Input Fields):</h3>

  <!-- Error message for invalid insertion inputs -->
  <h4>{{insert_error}}</h4>

  <!-- Form to insert new Patient entry -->
  <form
    id="addperson"
    action="/patient"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >
    Patient First Name:
    <input
      type="text"
      name="patient_first_name"
      placeholder="Enter Patient First Name"
    /><br />
    (Letters, Ampersand, Hyphens Only)
    <br />
    <br />
    Patient Last Name:
    <input
      type="text"
      name="patient_last_name"
      placeholder="Enter Patient Last Name"
    /><br />
    (Letters, Ampersand, Hyphens Only)
    <br />
    <br />
    Patient Birth:
    <input
      type="date"
      name="patient_birth"
      placeholder="Enter Patient Birthdate"
    /><br />
    <br />
    Patient Address:
    <input
      type="text"
      name="patient_address"
      placeholder="Enter Patient Address"
    /><br />
    <br />
    Patient Email:
    <input
      type="text"
      name="patient_email"
      placeholder="Enter Patient Email"
    /><br />
    <br />
    Patient Contact:
    <input
      type="text"
      name="patient_contact"
      placeholder="Enter Patient Contact (Phone #)"
    /><br />
    (Numbers and Hyphens Only)
    <br />
    <br />
    <input type="submit" value="Submit" />
  </form>
  <br />

  <form
    id="search_people"
    action=""
    method=""
    onkeydown="return event.key != 'Enter';"
  >
    <label> Search for Patient by First Name:</label>

    <!-- Error message for invalid search inputs -->
    <h4>{{search_error}}</h4>

    <!-- Search Input Form -->
    <input
      id="search_string"
      type="text"
      name="search_string"
      value=""
      placeholder="Enter Patient First Name"
    />
    <input type="button" value="Search" onclick="searchPatient()" />
    <button type="button"><a class="blacklink" href="/patient">Cancel Search</a></button>
  </form>

  <!-- Display Current Patient Entity Table -->
  <h3>Current Patients:</h3>
  <table>
    <thead>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birthdate</th>
      <th>Address</th>
      <th>Email</th>
      <th>Contact</th>
    </thead>
    <tbody>
      {{#each patient}}
        <tr>
          <td>{{id}}</td>
          <td>{{patient_first_name}}</td>
          <td>{{patient_last_name}}</td>
          <td>{{patient_birth}}</td>
          <td>{{patient_address}}</td>
          <td>{{patient_email}}</td>
          <td>{{patient_contact}}</td>

          <!-- Delete and Update Buttons -->
          <td><button onclick="deletepatient({{id}})">Delete</button></td>
          <td><button
              onclick="location.href='/patient/{{id}}'"
            >Update</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</html>