<html>
{{#each foo}}
{{this}}
{{/each}}
		<link rel="stylesheet" href="./style.css" media="screen">
<h3>Add new Patient:</h3>
<form id="addperson" action="/patient" method="post">
    Patient First Name: <input type="text" name="patient_first_name"><br>
    Patient Last Name: <input type="text" name="patient_last_name"><br>
	Patient Birth: <input type="date" name="patient_birth"><br>
	Patient Address: <input type="text" name="patient_address"><br>
	Patient Email: <input type="text" name="patient_email"><br>
	Patient Contact: <input type="text" name="patient_contact"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<form id='search_people' action='' method=''>
    <label> Search Patient for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPatientByFirstName()">
</form>

<h3>Current Patients:</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>First Name</th> 
        <th>Last Name</th> 
		<th>Birthdate</th> 
		<th>Address</th> 
		<th>Email</th> 
		<th>Contact</th> 
    </thead> 
    <tbody>
        {{#each patient}} 
        <tr> 
            <td>{{patient_id}}</td> 
            <td>{{patient_first_name}}</td> 
            <td>{{patient_last_name}}</td> 
			<td>{{patient_birth}}</td> 
			<td>{{patient_address}}</td> 
			<td>{{patient_email}}</td> 
			<td>{{patient_contact}}</td> 
          <!---   <td><button onclick="deletePerson({{id}})">Delete</button></td> <-->
            <!---<td><a href="/medication2/{{id}}">Update</a></td>-->
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>