<html>
<h3>Current people:</h3>
<table>
    <thead> 
        <th>Pharmacy ID</th> 
        <th>Pharmacy Name</th> 
        <th>Pharmacy Address</th>
        <th>Pharmacy Contact</th>  
    </thead> 
    <tbody>
        {{#each pharmacyhd}} 
        <tr> 
            <td>{{pharmacy_id}}</td> 
            <td>{{pharmacy_name}}</td> 
            <td>{{pharmacy_address}}</td> 
            <td>{{pharmacy_contact}}</td> 
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>