<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new Pharmacy:</h3>
<form id="addperson" action="/pharmacy-insert" method="post">
    Pharmacy Name: <input type="text" name="pharmacy_name"><br>
    Pharmacy Address: <input type="text" name="pharmacy_address"><br>
    Pharmacy Contact: <input type="text" name="pharmacy_contact"><br>
    
    <input type="submit" value="Submit">
 </form>
<br/>

<form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by homeworld </label>
    <select id='homeworld_filter' name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>

<form id='search_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form>

<h3>Current people:</h3>
<table>
    <thead> 
        <th>Pharmacy ID</th> 
        <th>Pharmacy Name</th> 
        <th>Pharmacy Address</th>
        <th>Pharmacy Contact</th>  
    </thead> 
    <tbody>
        {{#each pharmacyhd}} 
        <tr> 
            <td>{{pharmacy_id}}</td> 
            <td>{{pharmacy_name}}</td> 
            <td>{{pharmacy_address}}</td> 
            <td>{{pharmacy_contact}}</td> 
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>