<html>
{{#each foo}}
{{this}}
{{/each}}
<h1>Pharmacy</h1>
<h3>Add new Pharmacy (Please fill in all Input Fields):</h3>
<h4>{{errormessage}}</h4>
<form id="addperson" action="/pharmacy" method="post" onkeydown="return event.key != 'Enter';">
    Pharmacy Name: <input type="text" name="pharmacy_name" placeholder="Enter Pharmacy Name"><br>
    Pharmacy Address: <input type="text" name="pharmacy_address" placeholder="Enter Pharmacy Address"><br>
    Pharmacy Contact: <input type="text" name="pharmacy_contact" placeholder="Enter Contact (Phone #)"><br>
    
    <input type="submit" value="Submit">
 </form>
<br/>

<form id='search_people' action='' method='' onkeydown="return event.key != 'Enter';">
    <label> Search for Pharmacy by Name:</label>
	<h4>{{errormessage2}}</h4>
    <input id='search_string' type='text' name='search_string' value='' placeholder="Enter Pharmacy Name">
    <input type="button" value="Search" onclick="searchPharmacy()"> <button><a href="/pharmacy">Cancel Search</button></a>

</form>

<h3>Current Pharmacy:</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>Name</th> 
        <th>Address</th>
        <th>Contact</th>  
    </thead> 
    <tbody>
        {{#each pharmacy}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{pharmacy_name}}</td> 
            <td>{{pharmacy_address}}</td> 
            <td>{{pharmacy_contact}}</td> 
			<td><button onclick="deletepharmacy({{id}})">Delete</button></td>
			<td><button><a href="/pharmacy/{{id}}">Update</button></a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>