<html>

  <h1>Update Diagnosis Entry
    {{diagnosis.id}}
    ({{diagnosis.diagnosis_name}})</h1>

  <!---Error message for invalid update inputs -->
  <h4>{{update_error}}</h4>

  <!---Update Diagnosis Entity Form -->
  <form
    id="update-diagnosis"
    action="/diagnosis"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >
    Diagnosis Name:
    <input
      type="text"
      name="diagnosis_name"
      value="{{diagnosis.diagnosis_name}}"
    />
    <br />
    <br />

    <!---Select Menu (dropdown) for Medication ID -->
    Medication ID:
    <select name="medication_id">
      {{#each medication}}
        <option value="{{medication_id}}">{{medication_id}}
          ({{medication_name}})</option>
      {{/each}}
    </select>
    <br />
    <br />

    <!---Select Menu (dropdown) for Patient ID -->
    Patient ID:
    <select name="patient_id">
      {{#each patient}}
        <option value="{{patient_id}}">{{patient_id}}
          ({{patient_fullname}})</option>
      {{/each}}
    </select><br />
    <br />

    <!---Select Menu (dropdown) for Doctor ID -->
    Doctor ID:
    <select name="doctor_id">
      {{#each doctor}}
        <option value="{{doctor_id}}">{{doctor_id}}
          ({{doctor_fullname}})</option>
      {{/each}}
    </select><br />
    <br />

    <!---Select Menu (dropdown) for Pharmacy ID -->
    Pharmacy ID:
    <select name="pharmacy_id">
      {{#each pharmacy}}
        <option value="{{pharmacy_id}}">{{pharmacy_id}}
          ({{pharmacy_name}})</option>
      {{/each}}
    </select><br />
    <br />
    Charge:
    <input
      type="decimal"
      name="charge"
      value="{{decifix diagnosis.charge}}"
    /><br />
    (Positive Numbers Only)
    <br />
    <br />
    Date:
    <input
      type="date"
      name="diagnosis_date"
      value="{{diagnosis.diagnosis_date}}"
    /><br />

  </form>

  <!---Finalize Update Buttons -->
  <button onclick="updateDiagnosis({{diagnosis.id}})">Update</button>
  <td><button onclick="location.href='/diagnosis'">Cancel Update</button></td>
</html>