<html>

<h1>Update {{patient.patient_first_name}} {{patient.patient_last_name}} (Patient: {{patient.id}})</h1>
<h4>{{errormessage3}}</h4>
<form id="update-patient" action="/patient" method="post" onkeydown="return event.key != 'Enter';">
    First name: <input type="text" name="patient_first_name" value="{{patient.patient_first_name}}"><br>
    Last name: <input type="text" name="patient_last_name" value="{{patient.patient_last_name}}"><br>
	Birth: <input type="date" name="patient_birth" value="{{patient.patient_birth}}"><br>
   Address: <input type="text" name="patient_address" value="{{patient.patient_address}}"><br>
	Email: <input type="text" name="patient_email" value="{{patient.patient_email}}"><br>
   Contact: <input type="text" name="patient_contact" value="{{patient.patient_contact}}"><br>
    </select><br>
</form>

<button onclick="updatePatient({{patient.id}})">Update</button>
</html>
