<html>

  <h1>Update Doctor
    {{doctor.id}}
    ({{doctor.doctor_first_name}}
    {{doctor.doctor_last_name}})</h1>

  <!---ror message for invalid update inputs -->
  <h4>{{update_error}}</h4>

  <!---date Doctor Entity Form -->
  <form
    id="update-doctor"
    action="/doctor"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >
    First name:
    <input
      type="text"
      name="doctor_first_name"
      value="{{doctor.doctor_first_name}}"
    /><br />
    (Letters, Ampersand, Hyphens Only)
    <br />
    <br />
    Last name:
    <input
      type="text"
      name="doctor_last_name"
      value="{{doctor.doctor_last_name}}"
    /><br />
    (Letters, Ampersand, Hyphens Only)
    <br />
    <br />
    Contact:
    <input
      type="text"
      name="doctor_contact"
      value="{{doctor.doctor_contact}}"
    /><br />
    (Numbers and Hyphens Only)
    <br />

  </form>

  <!---nalize Update Buttons -->
  <button onclick="updateDoctor({{doctor.id}})">Update</button>
  <td><button onclick="location.href='/doctor'">Cancel Update</button></td>
</html>