<html>

  <h1>Update Medication {{medication.id}} ({{medication.medication_name}})</h1>
  
<!--- Error message for invalid update inputs -->
<h4>{{update_error}}</h4>

  <!--- Update Medication Entity Form -->
  <form
    id="update-medication"
    action="/medication"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >
    Medication Name:
    <input
      type="text"
      name="medication_name"
      value="{{medication.medication_name}}"
    /><br />
    (Letters, Ampersand, Hyphens Only)
    <br />
    <br />
    Manufacturer:
    <input
      type="text"
      name="manufacturer"
      value="{{medication.manufacturer}}"
    /><br />
    (Letters, Ampersand, Hyphens Only)
    <br />
  </form>

  <!--- Finalize Update Buttons -->
  <button onclick="updateMedication({{medication.id}})">Update</button>
  <td><button onclick="location.href='/medication'">Cancel Update</button></td>
</html>