<html>

  <h1>Update Pharmacy Entry {{pharmacy.id}} ({{pharmacy.pharmacy_name}}) </h1>

  <!---or message for invalid update inputs -->
  <h4>{{update_error}}</h4>

  <!---ate Pharmacy Entity Form -->
  <form
    id="update-pharmacy"
    action="/pharmacy"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >
    Pharmacy Name:
    <input
      type="text"
      name="pharmacy_name"
      value="{{pharmacy.pharmacy_name}}"
    /><br />
    (Letters, Ampersand, Hyphens Only)
    <br />
    <br />
    Pharmacy Address:
    <input
      type="text"
      name="pharmacy_address"
      value="{{pharmacy.pharmacy_address}}"
    /><br />

    <br />
    Pharmacy Contact:
    <input
      type="text"
      name="pharmacy_contact"
      value="{{pharmacy.pharmacy_contact}}"
    /><br />
    (Numbers and Hyphens Only)
    <br />
  </form>

  <!---alize Update Buttons -->
  <button onclick="updatePharmacy({{pharmacy.id}})">Update</button>
  <td><button onclick="location.href='/pharmacy'">Cancel Update</button></td>
</html>