<html>

  <h1>Update Medication {{medication.id}} ({{medication.medication_name}})</h1>
  <h4>{{errormessage3}}</h4>
  <form
    id="update-medication"
    action="/medication"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >
    Medication Name:
    <input
      type="text"
      name="medication_name"
      value="{{medication.medication_name}}"
    /><br />
    Manufacturer:
    <input
      type="text"
      name="manufacturer"
      value="{{medication.manufacturer}}"
    /><br />
    <br />
  </form>

  <button onclick="updateMedication({{medication.id}})">Update</button>
  <button><a class = "blacklink" href="/medication">Cancel Update</a></button>
</html>