<table>
  <tr>
    <td>{{patient.patient_id}}</td>
    <td>{{patient.patient_first_name}}</td>
    <td>{{patient.patient_last_name}}</td>
    <td>{{patient.patient_birth}}</td>
    <td>{{patient.patient_address}}</td>
    <td>{{patient.patient_email}}</td>
    <td>{{patient.patient_contact}}</td>
  </tr>
</table>